body  {
  /*background-image: url("./resources/images/bg-00.png");*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  background-color: white;
  font-family: Roboto;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
}

.menu.experiment-01 {
  top: 0;
  border: 1px solid purple;
  bottom: 100px;
  left: 0;
  width: 120px;
  font-size: 16px;

}

.menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 12px;
}

.menu.directions-menu {
  height: 100px;
  bottom: 0;
}

.menu.positions-menu {
  height: 100px;
  bottom: 100px;
}

.menu a {
  padding: 15px 15px 15px 15px;
}

.menu a.selected {
  text-decoration: none;
  text-underline: black;
  text-underline-style: thick;
  background-color: #cecece;
}

.menu.current {
  text-underline: black;
}

.menu .rotateMenuWrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu .positionMenuWrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
