body  {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: white;
  font-family: Roboto;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.experiment-01, .experiment-02 {
  position: fixed;
  bottom: 0;
  width: 100px;
  height: 100px;
  right: 10px;
  font-size: 18px;
  z-index: 102;
}

.experiment-01 button {
  width: 75px;
  height: 75px;
}

.experiment-02 button {
  width: 75px;
  height: 75px;
}

.experiment-03 {
  bottom: 120px;
  position: fixed;
  left: 0;
  right: 0;
  height: 45px;
}

.experiment-03 button {
  width: 75px;
  height: 62px;
}

.index-menu ul {
  list-style-type: none;
}

.index-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 101;
}

.insetNavigationWrapper {
  position: fixed;
  left: 30px;
  top: 30px;
  width: 600px;
  height: 400px;
  border: 1px solid black;
  z-index: 1200;
}

.menu {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 16px;

}

.menu.directions-menu {
  height: 80px;
  bottom: 0;
}

.menu.positions-menu {
  height: 50px;
  bottom: 100px;
}

.menu a {
  padding: 15px 15px 15px 15px;
}

.menu a.selected {
  text-decoration: underline;
  text-underline: black;
  text-underline-style: thick;
  background-color: #bcbbbb;
  text-underline: black;
}

.menu .current {
  text-underline: black;
}

.menu .rotateMenuWrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu .positionMenuWrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rotate-button {
  position: fixed;
  bottom: 130px;
  width: 75px;
  height: 75px;
  right: 22px;
  font-size: 13px;
  z-index: 102;
}
